@{
    ViewBag.Title = "Maintenance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Step 1. General Settings</strong></h3>

            </div>
            <div class="panel-body small">
                Now you are ready to start using Xero on a regular basis to record and report on normal business transactions. There is full online help and tips on each screen in Xero if you need it. It's really up to you what you do next.
                <br />
                <br />
                <ul>
                    <li>@Html.ActionLink("Settings", "Index", "Setting")</li>
                    <li>@Html.ActionLink("Store Maintenance", "Index", "Store")</li>
                  
                </ul>


            </div>

        </div>



      


      

    </div>
    <div class="col-md-4">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Step 2. Company Maintenance</strong></h3>

            </div>
            <div class="panel-body small">
                Now you are ready to start using Xero on a regular basis to record and report on normal business transactions. There is full online help and tips on each screen in Xero if you need it. It's really up to you what you do next.
                <br />
                <br />
                <ul>
                    <li>@Html.ActionLink("Role Maintenance", "Index", "Roles")</li>
                    <li>@Html.ActionLink("Employee Maintenance", "Index", "Employee")</li>
                </ul>


            </div>

        </div>

    </div>
    <div class="col-md-4">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Step 3. Product Maintenance</strong></h3>

            </div>
            <div class="panel-body small">
                
                Now you are ready to start using Xero on a regular basis to record and report on normal business transactions. There is full online help and tips on each screen in Xero if you need it. It's really up to you what you do next.
                <br />
                <br />
                <ul>
                    <li>@Html.ActionLink("Product Type Maintenance", "Index", "ProductType")</li>
                    <li>@Html.ActionLink("Product Maintenance", "Index", "Product")</li>
                </ul>


            </div>

        </div>

    </div>
</div>