@model Exchange.Web.Areas.Admin.Models.ProductModel
@{
    ViewBag.Title = "Product Maintenance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Product</strong></h3>
            </div>
            <div class="panel-body small">
                Instructions here...
            </div>
        </div>
    </div>
    <div class="col-md-7">

        @Html.Partial("ModalTemplates/_Status")

        <div id="transaction">
            @using (Html.BeginForm())
            {
                @Html.Partial("ModalTemplates/_Alert")
                <div class="form-group">
                    <div class="editor-label">
                        <label>Product Type</label>
                    </div>
                    <div class="editor-field">
                        @Html.DropDownListFor(model => model.ProductTypeId, Model.ProductTypeList, string.Empty, new {@class = "combobox combobox-medium"})
                        <p class="small">Please indicate the product type.</p>
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Code)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Code, new {@class = "form-control"})
                        <p id="status" class="small">Verify if Code exists.</p>
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Name)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Name, new {@class = "form-control"})
                        <p class="small">Please indicate the product name.</p>
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Description)
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.Description, new {@class = "form-control"})
                        <p class="small">Please indicate the product description.</p>
                    </div>
                    <div class="editor-label">
                        <label>Cost per gram.</label>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Cost, new {@class = "form-control"})
                        <p class="small">Please indicate the product cost.</p>
                    </div>
                </div>

                <div class="right">
                    <button id="btnSave" class="btn btn-large btn-success" type="button">
                        Save
                    </button>
                    <button id="btnCancel" class="btn btn-large btn-success" type="button">
                        Cancel
                    </button>
                </div>
            }
        </div>
    </div>
</div>

@Html.Hidden("Item", Url.Action("Item"))
@Html.Hidden("New", Url.Action("New"))
@Html.Hidden("CheckAvailability", Url.Action("CheckAvailability"))
@Scripts.Render("~/bundles/jquery.validate")