@model Exchange.Core.Entities.Customer
<!-- Modal -->
<div id="Customer" class="modal hide fade custom-height-modal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×</button>
        <h3 id="myModalLabel">
            New Customer</h3>
    </div>
    <div class="modal-body">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)        
            <fieldset>
                <table>
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.LastName)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.LastName)
                                @Html.ValidationMessageFor(model => model.LastName)
                            </div>
                        </td>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.FirstName)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.FirstName)
                                @Html.ValidationMessageFor(model => model.FirstName)
                            </div>
                        </td>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.MiddleName)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.MiddleName)
                                @Html.ValidationMessageFor(model => model.MiddleName)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.TelephoneNo)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.TelephoneNo)
                                @Html.ValidationMessageFor(model => model.TelephoneNo)
                            </div>
                        </td>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.CellphoneNo)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.CellphoneNo)
                                @Html.ValidationMessageFor(model => model.CellphoneNo)
                            </div>
                        </td>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Email)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.Email)
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.BirthDate)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.BirthDate)
                                @Html.ValidationMessageFor(model => model.BirthDate)
                            </div>
                        </td>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Gender)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.Gender)
                                @Html.ValidationMessageFor(model => model.Gender)
                            </div>
                        </td>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.OfficeAddress)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.OfficeAddress)
                                @Html.ValidationMessageFor(model => model.OfficeAddress)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.ResidentialAddress)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.ResidentialAddress)
                                @Html.ValidationMessageFor(model => model.ResidentialAddress)
                            </div>
                        </td>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.PostalCode)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.PostalCode)
                                @Html.ValidationMessageFor(model => model.PostalCode)
                            </div>
                        </td>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.City)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.City)
                                @Html.ValidationMessageFor(model => model.City)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Province)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.Province)
                                @Html.ValidationMessageFor(model => model.Province)
                            </div>
                        </td>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.TypeOfID)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.TypeOfID)
                                @Html.ValidationMessageFor(model => model.TypeOfID)
                            </div>
                        </td>
                        <td>
                            <div class="editor-label">
                                @Html.LabelFor(model => model.IDNo)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.IDNo)
                                @Html.ValidationMessageFor(model => model.IDNo)
                            </div>
                        </td>
                    </tr>
                </table>
            </fieldset>
            @Html.Hidden("Item", Url.Action("Item"))
            @Html.Hidden("New", Url.Action("New"))

        }
    </div>
    <div class="modal-footer">
        <button class="btn btn-large btn-success" data-dismiss="modal" aria-hidden="true">
            Close</button>
        <button id="btnSaveModal" class="btn btn-large btn-success" type="submit">
            Save</button>
    </div>
</div>
