@model Exchange.Web.Models.CustomerModel
@{
    ViewBag.Title = "New Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Register</strong></h3>
            </div>
            <div class="panel-body small">
                Instructions here...
            </div>

        </div>

    </div>
    <div class="col-md-7">

        @Html.Partial("ModalTemplates/_Status")

        <div id="transaction">
            @using (Html.BeginForm())
            {
                @Html.Partial("ModalTemplates/_Alert")

                <div class="form-group">
                    <div class="page-header-title"><strong>Customer Information</strong></div>

                    <div class="row">
                        <div class="col-xs-4">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.FirstName)
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                                <p class="small">Please indicate the firstname.</p>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.MiddleName)
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.MiddleName, new { @class = "form-control" })
                                <p class="small">Please indicate the middle name.</p>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.LastName)
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                                <p class="small">Please indicate the lastname.</p>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-xs-4">

                            <div class="editor-label">
                                @Html.LabelFor(model => model.Gender)
                            </div>
                            <div class="editor-field">

                                @Html.DropDownListFor(model => model.Gender, new SelectList(
                                                                           new List<Object>{
                                                                           new { value = "M" , text = "Male"  },
                                                                           new { value = "F" , text = "Female" }
                                                                        },
                                                                         "value",
                                                                          "text",
                                                                       2), string.Empty, new { @class = "combobox combobox-medium" })

                                <p class="small">Please indicate the gender.</p>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.BirthDate)
                            </div>
                            <div class="editor-field form-inline" id="birthdate-field">
                                <div class="picker" id="birthdate-picker"></div>
                                @Html.HiddenFor(model => model.BirthDate)                          
                                <p class="small">Please indicate the birth date.</p>
                            </div>





                        </div>
                        <div class="col-xs-4">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.CellphoneNo)
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.CellphoneNo, new { @class = "form-control" })
                                <p class="small">Please indicate the position.</p>
                            </div>
                        </div>
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Email)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        <p class="small">Please indicate the email address.</p>
                    </div>

                    <div class="editor-label">
                        <label>Residential Address</label>
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.ResidentialAddress, new { @class = "form-control" })
                        <p class="small">Please indicate the address.</p>
                    </div>

                    <div class="editor-label">
                        <label>Office Address</label>
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.OfficeAddress, new { @class = "form-control" })
                        <p class="small">Please indicate the address.</p>
                    </div>


                    <div class="page-header-title"><strong>ID Presented</strong></div>
                    <div class="row">
                        <div class="col-xs-9">
                            <div class="editor-label">
                                <label>Type of ID</label>
                            </div>
                            <div class="editor-field">
                                @Html.DropDownListFor(model => model.TypeOfID, new SelectList(
                                                                           new List<Object>{
                                                                           new { value = "COMPID" , text = "Company ID"  },
                                                                           new { value = "PHk" , text = "Phil health" }
                                                                        },
                                                                         "value",
                                                                          "text",
                                                                       2), string.Empty, new { @class = "combobox combobox-medium" })
                                <p class="small">Please indicate the address.</p>
                            </div>

                        </div>
                        <div class="col-xs-3">
                            <div class="editor-label">
                                <label>ID No</label>
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.IDNo, new { @class = "form-control" })
                                <p class="small">Please indicate the address.</p>
                            </div>

                        </div>

                    </div>





                </div>


                <div class="right">
                    <button id="btnSave" class="btn btn-large btn-success" type="button">
                        Save
                    </button>
                    <button id="btnCancel" class="btn btn-large btn-success" type="button">
                        Cancel
                    </button>
                </div>
            }
        </div>

    </div>
</div>




@Html.Hidden("Item", Url.Action("Item"))
@Html.Hidden("New", Url.Action("Register"))


<script type="text/javascript">
    $(function () {


        $("#birthdate-picker").birthdaypicker({
            futureDates: true,
            minAge:18
        });

  
    });
</script>
