@model Exchange.Core.Entities.Roles
@{
    ViewBag.Title = "Role Maintenance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="row">
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Role</strong></h3>

            </div>
            <div class="panel-body small">
                Instructions here...


            </div>

        </div>

    </div>
    <div class="col-md-7">
      
        @Html.Partial("ModalTemplates/_Status")

        <div id="transaction">
            @using (Html.BeginForm())
            {
                       @Html.Partial("ModalTemplates/_Alert")

                <div class="form-group">
                    <div class="editor-label">
                        <label>Role Name</label>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.RoleName, new { @class = "form-control" })
                        <p class="small">Please indicate the role name.</p>
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Description)
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                        <p class="small">Please indicate the role description.</p>
                    </div>
                </div>


                <div class="right">
                    <button id="btnSave" class="btn btn-large btn-success" type="button">
                        Save
                    </button>
                    <button id="btnCancel" class="btn btn-large btn-success" type="button">
                        Cancel
                    </button>
                </div>
            }
        </div>

    </div>
</div>


@Html.Hidden("Item", Url.Action("Item"))
@Html.Hidden("New", Url.Action("New"))
@Html.Hidden("CheckAvailability", Url.Action("CheckAvailability"))  